{% if recipes.has_other_pages %}
    <div class="container pagination">
        <div class="pagination-content">
            {% if pagination_range.first_page_out_of_range %}
                <a href="?page=1{{ aditional_querystring }}" class="page-link page-item">1</a>
                <span class="page-item">...</span>
            {% endif %}
            {% for page in pagination_range.pagination %}
                {% if page == pagination_range.current_page %}
                    <span class="page-item current-page">{{ page }}</span>
                {% else %}
                    <a href="?page={{ page }}{{ aditional_querystring }}" class="page-link page-item">{{ page }}</a>
                {% endif %}
            {% endfor %}
            {% if pagination_range.last_page_out_of_range %}
                <span class="page-item">...</span>
                <a href="?page={{ recipes.paginator.num_pages }}{{ aditional_querystring }}"
                   class="page-link page-item">{{ recipes.paginator.num_pages }}</a>
            {% endif %}
        </div>
    </div>
{% endif %}
