{% if request.user.is_authenticated %}
      <div class="login-message">You are logged in with {{ request.user.username }}.

          <a href="{% url 'authors:dashboard' %}">See your recipes</a>, or
          <a href="{% url 'authors:dashboard_recipe_new' %}">create a new recipe</a>.
        <form class="inline-form" action="{% url 'authors:logout' %}" method="post">
          {% csrf_token %}
          <input type="hidden" name="username" value="{{ request.user.username }}">
          <button class="plaintext-button" type="submit">
            Click here
          </button> 
        </form>
        to logout
      </div>
    {% endif %}